<title>5D Sondaggi</title>
    <nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <img src="https://media.giphy.com/media/LsDEzSopB7RLvuH0lI/giphy.gif" width="30" height="30" class="d-inline-block align-top" alt="">
    5D Votazioni
  </a>
  <div class="form-inline">
        <div class="container mx-5">
            <div class="row">
                <div class="col-sm">
                    <a href="/login" class="btn btn-success my-2 my-sm-0">Login</a>
                    <a href="/sign_up" class="btn btn-success my-2 my-sm-0">Sign Up</a>
                </div>
            </div>
        </div>
  </div>
</nav>
<div class="container my-5">
      <h1 class="display-4">5D Votazioni</h1><h1>
        <p class="lead">Un sito dove puoi votare e proporre videogiochi da aggiungere alla 5D</p>
        <a class="btn btn-primary" href="/" role="button">Home</a>
        <a class="btn btn-primary" href="/giochi_presenti" role="button">Giochi Presenti</a>
        <a class="btn btn-secondary" href="/Crea" role="button">Crea</a>
        <a class="btn btn-danger" href="/admin" role="button">Admin</a>
    </h1></div>
    <div class="container my-sm"><div class="row">

    <h5 class="h1">{{info['name']}}</h5><p class="h5 card-text">
    </div>
        <figure class="figure">
  <img src="{{info['img']}}" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">{{info['descrizione']}}</figcaption>
</figure>
<div class="container my-5">
    <a class="h5">Genere: {{info['generi']}}</a>
    <div>
        <p>Pegi:</p>
        <a class="btn btn-{{info['age_color']}} btn-lg">{{info['age']}}</a>
    </div>
    <div class="col-sm my-5">
        <a type="button" class="btn btn-success btn-lg ">Gioco Gia Presente</a>
    </div>
    </div>
    </div>
</div>
    </div></div><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">